body {
    display: grid;
    grid-template-areas: "nav nav" "article ads" "footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 1fr 15%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}

header, footer, article, nav, div {
    padding: 20px;
    background: darkslategray;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
}

#ads {
    grid-area: ads;
}

@media all and (max-width: 575px) {
    body {
        grid-template-areas: "nav" "article" "ads" "footer";
        grid-template-rows: 70px 1fr 70px 70px;
        grid-template-columns: 1fr;
    }
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: darkgoldenrod;
}

#menu-button {
    display: none;
}

.menu-icon {
    display: none;
}

li {
    display: inline-block;
}

ul {
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

@media screen and (max-width: 575px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        float: right;
        background: url(../image/menu-icon.png);
        width: 35px;
        height: 35px;
    }

    #menu-button:checked ~ ul {
        opacity: 1;
        visibility: visible;
    }

    ul {
        visibility: hidden;
        display: block;
        position: absolute;
        right: 20px;
        top: 60px;
        background: whitesmoke;
        border: 5px solid darkgoldenrod;
        border-radius: 4px;
        opacity: 0;
        padding: 20px;
        transition: all 1s ease;
    }

    li {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }

    a {
        color: darkslategrey;
    }
}