@import url('https://fonts.googleapis.com/css?family=Amatic+SC|BenchNine|Great+Vibes|Sacramento|Satisfy&display=swap');
/*font-family: 'Amatic SC', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Sacramento', cursive;
font-family: 'BenchNine', sans-serif;
*/

.header{
    font-family: 'BenchNine', sans-serif;}
body{

    background-image: url(../myRepo/images/apple.jpg);
    background-size:cover;
    background-attachment: fixed;
    min-width: 1000px;
    width: 100%;
    height: 100%;
    

}




.header{
    display: flex;
    flex-wrap: nowrap;
    width:98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100px;
    background-color: black;
    /*margin-top: 5px;*/
    font-size: 70px;
    color: whitesmoke;
    opacity: 0.5;
    text-decoration: wavy;
    box-shadow:10px 10px 7px rgba(0, 0, 0, 0.6);
  
}

.colortext{
    color: red;
}

.menu{
    display: flex;
   /* flex-wrap: nowrap;*/
    justify-content: space-evenly;
    /*margin:0;
    padding:0;*/
    max-width: 1600px;
    min-width: 200px;
    width: 100%;
    height: auto;

}
.menu ul,
.menu li{
    display: block;
    list-style: none;

}
.menu>ul{

    justify-content: center;
    padding: 20px;
}    
.menu a{
    
       background-color: black;
       text-decoration: none;
        font-family: sans-serif;
        color: #dcdce4;
        padding: 10px 20px;
        border-bottom: 5px solid #838388;
        padding: 20px;

      }

.menu li{
    
    display: inline-flex;
    padding: 2px;

}

.contact form{
        display: flexbox;
        margin-left: 80%;
        font-size: 20px;
        height: 36px;
        width: 100px;
               
        }
       

        .izi{
            display: inline-flex;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
.article1{
width: 500px;
height: 400px;

}


.articleform{
    display: flex;
    width: 600px;
    height: 300px;
    background-color: black;
    opacity: 0.6;
    color: blanchedalmond;
    font-size: 20px;
    box-shadow:10px 10px 7px rgba(0, 0, 0, 0.6);

}

.article1{
    margin: 50px;
}



      
        .footer{
            display: inline-flexbox;
            flex: auto;
            justify-content: space-evenly;
            width: 98%;
            height: 200px;
            background-color: black;
            opacity: 0.8;
            margin-top: 40px;
            color: blanchedalmond;
            margin-bottom: 2px;
            margin-left: 1%;
            margin-right: 1%;
            max-width: 1600px;
            min-width: 200px;
        }
.textfooter{
    display: inline-flex;
    justify-content: space-between;
    /*margin: 0 auto;*/
    margin-left: 49%;
    margin-right: 49%;
    font-family: 'Sacramento', cursive;
}
       