body{

    background-image: url(/myRepo/images/apple.jpg);
    width: 800px;
    height: 2000;
}
.header{
    width: auto;
    height: 200px;
    background-color: black;
    margin: 200px;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    color: whitesmoke;
    opacity: 0.5;
    position: absolute;
}

.menu{
    margin:0;
    padding:0;
}
.menu ul,
.menu li{
    list-style: none;

}
.menu>ul{
    display: flex;
    justify-content: center;
   }    