@import url('https://fonts.googleapis.com/css?family=Amatic+SC|BenchNine|Great+Vibes|Sacramento|Satisfy&display=swap');
/*font-family: 'Amatic SC', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Sacramento', cursive;
font-family: 'BenchNine', sans-serif;
*/
html{
    height: 100%;
}

.header{
    font-family: 'BenchNine', sans-serif;}
body{
    @media screen and (max-width: 600px);
    box-sizing: border-box;
    background-image: url(../myRepo/images/apple.jpg);
    background-size:cover;
    background-attachment: fixed;
    height: 100%;
    /* width: 100%; */
    /* height: 100%; */
    

}




.header{
    box-sizing: border-box;
    display: flex;
  /*  flex-wrap: nowrap;*/
    width:100%;
    margin-left: 0;
    margin-right: 0;
    height: 100px;
    background-color: black;
    /*margin-top: 5px;*/
    font-size: 70px;
    color: whitesmoke;
    opacity: 0.5;
    text-decoration: wavy;
    box-shadow:10px 10px 7px rgba(0, 0, 0, 0.6);
    max-width: 2000px;
  
}

.colortext{
    color: red;
}

.menu{
    display: flex;
   /* flex-wrap: nowrap;*/
    justify-content: space-evenly;
    /*margin:0;
    padding:0;*/
    max-width: 1600px;

    height: auto;

}
.menu ul,
.menu li{
    
    display: block;
    list-style: none;

}
.menu>ul{

    justify-content: center;
    padding: 20px;
}    
.menu a{
       width: 100px;
       height: 15px;
       background-color: black;
       text-decoration: none;
        font-family: sans-serif;
        color: #dcdce4;
        padding: 10px 20px;
        border-bottom: 5px solid #838388;
        padding: 20px;

      }

.menu li{
    
    display: inline-flex;
    padding: 2px;

}

.contact form{
        display: flexbox;
        float: right;
        margin-right: 20%;
        font-size: 20px;
        height: 36px;
        max-width: 200px;
            
        }
       

        .izi{
            display: inline-flex;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
.article1{
max-width: 500px;
height: 400px;

}


.articleform{
    
    position: relative;
    display: block;
    max-width: 400px;
    max-height: 350px;
    
    background-color: black;
    opacity: 0.6;
    color: blanchedalmond;
    font-size: 20px;
    box-shadow:10px 10px 7px rgba(0, 0, 0, 0.6);

}

.article1{
    margin: 50px;
}

content{
    padding-bottom: 90px;
}


      
        .footer{
        margin-top: 200px;
           position: fixed;
           left: 0;
           bottom: 0;
           /* display: flex;
            flex-wrap: nowrap;*/
            height:80px ;
            width: 100%;
            background-color: black;
            opacity: 0.8;
            margin-top: 100px;
            color: blanchedalmond;
            margin-left: 0;
            margin-right: 0;
            min-width: 1000px;
        }

        




.textfooter{
    display: inline-flex;
    justify-content: space-between;
    /*margin: 0 auto;*/
    margin-left: 49%;
    margin-right: 49%;
    font-family: 'Sacramento', cursive;
    position: fixed;
}

@media screen and (max-width: 700px);
.contact form{
        
        float:right;
        width: 50px;
        font-size: 20px;
        height: 25px;

    /*    .header{
            width: 100%;
        
        }*/

}
